{% extends 'layout.html' %}

{% block body %}

<div class="card">
    <div class="card-body">
        <h2><b>{{des}}</b></h2>
    </div>
  </div>
<div class="card">
    <div class="card-body">
        {{conceito}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
        <h2><b>{{des_en}}</b></h2>
    </div>
  </div>
<div class="card">
    <div class="card-body">
        {{conc_en}}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h2><b>{{des_fr}}</b></h2>
    </div>
  </div>
<div class="card">
    <div class="card-body">
        {{conc_fr}}
    </div>
  </div>

{% endblock %}